@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    box-sizing: border-box;
    color: #fff;
}
.container  {
    width: 80%;
    margin: auto;
}
/* navbar */
nav li, a, button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	overflow: hidden;
  	top: 0;

}

.logo {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
	color: #0088a9;
}

button	{
	padding: 9px 25px;
	background-color: rgba(239,95,32,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(239,95,32,0.8);
}
/* end of navbar */
/* content */
.conhtml ,.promise   {
    width: 60%;
    margin: auto;
}
h1  {
    color: rgba(239,95,32,1);
    margin-bottom: 20px;
}
h2,p  {
    margin-bottom: 10px;
}
pre   {
    margin: 20px;
}


/* content */

.user {
	/* background-color: red; */
	border:	1px solid #fff;
	padding: 1rem;
	margin-bottom: 10px;
	border-radius: 10px;
}